<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

    <body>
        <% include ../partials/navbar %>


            <div class="container">

                <div class="media border p-3">
                    <img class="mr-3 mt-3 rounded-circle" src="<%= user.profile.picture %>" style="width: 60px;" alt="<%= user.name %>">
                    <br />

                </div>
                <p>Name:
                    <%= user.profile.name %>
                </p>
                <p>Email:
                    <%= user.email %>
                </p>

                <% if(user.address === "" || typeof user.address === 'undefined') { %>
                    <p>Address: <span style="color:#c0392b; font-weight: bold">You have not added address </span></p>

                    <% } else { %>

                        <p>Address:
                            <%= user.address %>
                        </p>

                        <% } %>
                            <a href="/edit-profile" class="btn btn-outline-primary">Edit Profile</a>

            </div>
            <% include ../partials/scripts %>
                <% include ../partials/footer %>
    </body>

</html>